<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmar Viaje</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div th:insert="~{/layouts/nav :: nav}"></div>
  <div class="container mt-5">
    <h2>Confirmación del Viaje</h2>

    <form action="/viajes/guardar" method="POST" th:object="${viaje}">
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{costo}">
      <input type="hidden" th:field="*{tipo}">
      <input type="hidden" th:field="*{estado}">
      <div class="form-group">
        <label for="tipoViaje">Tipo de Viaje</label>
        <input type="text" class="form-control" id="tipoViaje" name="tipo" th:field="${viaje.tipo}" readonly>
      </div>

      <div class="form-group">
        <label for="conductor">Conductor</label>
        <input type="hidden" class="form-control" id="conductor" name="conductor" th:value="${viaje.conductor.id}"
          readonly>
        <h4 th:text="${viaje.conductor.nombre} + ' ' + ${viaje.conductor.apellido}"></h4>
      </div>

      <div class="form-group">
        <label for="tipoAutomovil">Tipo de Automóvil</label>
        <input type="text" class="form-control" id="tipoAutomovil" name="tipoAutomovil"
          th:value="${viaje.conductor.tipoAutomovil}" readonly>
      </div>

      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio" th:value="${precio}" readonly>
      </div>

      <button type="submit" class="btn btn-success">Confirmar Viaje</button>
    </form>
  </div>
</body>

</html>