<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Formulario Conductor</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div th:insert="~{/layouts/nav :: nav}"></div>
  <div class="container mt-5">
    <div th:if="${mensajeError}" class="alert alert-danger" role="alert">
      <span th:text="${mensajeError}"></span>
    </div>
    <h2 th:text="${conductor.id == null ? 'Agregar conductor' : 'Editar conductor'}"></h2>
    <form th:action="@{/conductores/guardar}" th:object="${conductor}" method="post" class="mt-4">
      <input type="hidden" th:field="*{id}">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" th:field="*{nombre}" required>
      </div>

      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" id="apellido" class="form-control" th:field="*{apellido}" required>
      </div>

      <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" id="fechaNacimiento" class="form-control" th:field="*{fechaNacimiento}" required>
      </div>

      <div class="mb-3">
        <label for="automovil" class="form-label">Automóvil</label>
        <input type="text" id="automovil" class="form-control" th:field="*{automovil}" required>
      </div>

      <div class="mb-3">
        <label for="tipoAutomovil" class="form-label">Tipo de Automóvil</label>
        <select id="tipoAutomovil" class="form-select" th:field="*{tipoAutomovil}" required>
          <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"></option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="tipo" class="form-label">Estado</label>
        <select required th:field="*{estado}" id="estado" class="form-select">
          <option th:value="false">Inactivo</option>
          <option th:value="true">Activo</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" th:text="${conductor.id == null ? 'Guardar' : 'Editar'}"></button>
    </form>
  </div>
</body>

</html>